<!doctype html>
<html lang="en">
<th:block th:include="head"></th:block>
<body>
    <th:block th:include="header"></th:block>

    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                     <h2>Admin Page</h2>
                     <h3>Welcome :
                        <span th:utext="${#request.userPrincipal.name}"></span>
                     </h3>
                     <b>This is protected page!</b>  
                      
                     <br/><br/>
                </div>
            </div>
        </div>
    </section>

    <th:block th:include="footer"></th:block>
    
</body>

</html>