<!doctype html>
<html lang="en">
<th:block th:include="head"></th:block>
<body>
    <th:block th:include="header"></th:block>

    <section class="course section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <h2 
                        th:text="${ coursePage.getCourse().getName() + ' Class ' + coursePage.getCourse().get_class().getLevel() + ' (' + coursePage.getYear() + ')'}"
                    />
                    <a  th:href="@{'/declare-result/'+${coursePage.getCourse().getCourseId()}}"
                    class="btn btn-info" sec:authorize="hasAuthority('TEACHER')">
                        Declare Result
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <br/>
                    <h3>Notifications</h3>
                </div>
                <th:block th:include="notification-form" sec:authorize="hasAuthority('TEACHER')" />
                <div class="col-12 note" th:each="notification : ${notifications}">
                    <h4 th:text="${notification.getDate()}" />
                    <p th:text="${notification.getText()}" />
                </div>
            </div>
        </div>
    </section>

    <th:block th:include="footer"></th:block>

    <style>
        .contact_form{
            margin-bottom: 50px;
        }
        .note {
            margin: 10px auto 0;
            border-radius: 4px;
            border: 1px solid #eee;
            padding: 20px;
        }
        .note p{
            font-size: 12pt;
        }
    </style>
    
</body>

</html>