<!doctype html>
<html lang="en">
<th:block th:include="head"></th:block>
<body>
    <th:block th:include="header"></th:block>
    <section class="section_padding">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="row">
                  <div class="col-6">
                     <h2>Students</h2>
                  </div>
               </div>
               <br/>
               <table class="table data-table">
                  <thead class="thead-dark">
                  <tr>
                     <th scope="col">Student Id</th>
                     <th scope="col">Student</th>
                     <th scope="col">Gender</th>
                     <th scope="col">Address</th>
                     <th scope="col">Actions</th>           
                  </tr>
                  </thead>
                  <tr th:each="student: ${students}">
                    <th scope="row" th:text="${student.getStudentId()}" />
                     <td th:text="${student.getName()}" />
                     <td th:switch="${student.getGender()}">
                        <span th:case="M" th:text="Male" class="text-info" />
                        <span th:case="F" th:text="Female" class="text-danger" />
                     </td>
                     <td th:text="${student.getAddress()}" />
                     <td>
                        <a th:href="@{'student/'+${student.getStudentId()}+'/edit'}">
                           <i class="fas fa-student-edit"></i>
                        </a>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
    </section>

    <th:block th:include="footer"></th:block>
    
    <style type="text/css">
      .data-table{
         width: 100%;
         border-collapse: collapse;
         border-radius: 8px;
         border-style: hidden;
         box-shadow: 0 0 0 1px #ccc; 
         text-align: center;
      }
      .data-table td, th{
         font-family: "Poppins", sans-serif;
         font-size: 10pt;
         height: 40px;
         border: 1px solid #ccc;
      }
      .new_btn{
         float: right;
         font-size: 10pt;
         text-transform: uppercase;
      }
    </style>
</body>

</html>